*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	margin-left: 10px;
	width: 70px;
	height: auto;
	border-radius: 20%;
}

nav {
	background-color: #2f4f4f;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	
}

.nav-links {
	list-style-type: none;
}

.nav-links li {
	display: inline;
	padding: 50px;
}

nav a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

a:hover {
	color: gray;
}

.nav-search {
	display: flex;
	gap: 10px;
	margin-right: 10px;
}

#btnSearch {
	color: white;
	padding: 8px 24px;
	border-radius: 4px;
	background: #670BFF;
	transition: background 0.3s ease;
}

#btnSearch:hover {
	background: #4D04C4;
	color: white;
}

.banner {
	height: 600px;
	background-size: cover;
	background-position: center;
	padding: 150px 0;
}

.container {
	width: 950px;
}

.banner h1 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	font-size: 32px;
	font-weight: bold;
}

.banner p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	opacity: .5;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	margin-bottom: 30px;
}

.btn-book {
	text-decoration: none;
	color: white;
	padding: 8px 24px;
	border-radius: 4px;
	background: #670BFF;
	transition: background 0.3s ease;
}

.social-media {
	color: #ffffff;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 40px;
}

.social-media li {
	margin-bottom: 15px;
}

.social-media li a {
	color:#ffffff
}

.social-media li a:hover {
	color: gray;
}

.links {
	display: flex;
}


.banner .title {
    font-size: 50px;
}

.banner .team {
    display: flex;
    width: 1000px;
}

.employees {
    display: flex;

}

.card-employee {
    text-align: center;
}

.about {
    width: 1000px;
    margin-bottom: 15px;
}

.content {
    display: flex;
}

.function {
    background-color: #1e525a;
    border-radius: 50px;
    padding: 6px 16px;
    display: inline-block;
}

.card-employee i {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}